.center .container {
    width: 458px;
}

.container .wrapper {
    padding: 0px 47px 38px 35px;
    border: 1px solid #628AAD;
}

.label-row.name {
    padding-top: 20px;
}

.gender-option {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.gender-option label {
    margin-left: 10px;
}

input[type="radio"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 1px;
    background-clip: content-box;
    border: 2px solid #477AA9;
    background-color: #e7e6e7;
    border-radius: 50%;
}

input[type="radio"]:checked {
    background-color: #477AA9;
}

.label-row button {
    padding: 8px 0;
    min-width: 86px;
    outline: none;
    background-color: #4F81BD;
    border: 1px solid #477AA9;
    color: white;
    margin-right: 10px;
}

.compulsory::after {
    content: " *";
    color: red;
}

.label-row.name input {
    flex: 1;
}

.select-box {
    display: flex;
    position: relative;
    flex: 1;
}

.select-box input {
    flex: 1;
}

.relative {
    flex: 1;
}

.form-control:focus {
    color: black;
    background-color: #fff;
    border-color: #477AA9;
    outline: none;
    box-shadow: none;
}

.form-control {
    border-radius: unset;
    color: black;
}

.input-group-text {
    cursor: pointer;
    border-color: #477AA9;
    border-radius: unset;
}

.label-row.image {
    align-items: center;
}

.image input {
    border: unset;
    padding: unset;
}

.label-row.label-row-submit {
    align-items: center;
}

.label-row.image-submit {
    align-items: flex-start;
}

.label-row img {
    width: 50%;
    object-fit: contain;
}